* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: middle;
	accent-color: #5865f2;
}

html {
	background: #36393f;
	--discord-text: #dcddde;
	color: var(--discord-text);
	font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5em;
}

#dateInput {
	width: min(100%, 40ch);
	font-size: 1.25em;
	background: #202225;
	color: var(--discord-text);
	border-radius: 3px;
	padding: 8px;
	color: inherit;
	font-family: inherit;
	text-align: center;
}

#output {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.25em;
}

#output .group {
	display: inline-flex;
	--button-border-radius: 3px;
}

button {
	cursor: pointer;
	padding: 0.2em;
	border-radius: 3px;
	color: #fff;
}

.group > button {
	border-left: 0;
}

.group > :first-child {
	border-end-end-radius: 0;
	border-start-end-radius: 0;
}

.group > :last-child {
	border-start-start-radius: 0;
	border-end-start-radius: 0;
}

.group > :not(:first-child) {
	border-left: 1px solid #00000088;
}

button {
	background: hsl(235, 85.6%, 64.7%);
}
.buttonHover,
button:hover,
#ts-F:hover + #ts-f {
	background: hsl(235, 85.6%, 72%);
}
.buttonActive,
button:active,
#ts-F:active + #ts-f {
	background: hsl(235, 85.6%, 80%);
}

#ts-R {
	text-transform: capitalize;
}

#ts-f {
	border-style: dashed;
}

#output .row {
	width: 100%;
}

#output img {
	filter: invert();
}
